*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-image: linear-gradient(to right, #fff, #d4d4d4);
}
table {
	background-color: #fff;
    border-collapse: collapse;
    width: 1140px;
    margin: 35px;			
}
tr {
	font-size: 14px;
}
td:first-child {
	border-right: 1px solid #f1f1f1;
	width: 960px;
	padding: 27px 0 6px 30px;	
}
.first {
	border: none;
	color: #dc1f26;
	text-transform: uppercase;
	font-size: 13px;
}
td:nth-child(2) {
	width: 180px;
	border-left: 1px solid #f1f1f1;
	color: #dc1f26;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 35px;
	font-size: 13px;
}
td:first-child:not(.first):hover {
	color: #dc1f26;
	background-color: #d4d4d4;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #fff;
}
td:nth-child(2):hover {
	background-color: #d4d4d4;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #fff;
	text-decoration: underline;
}
